@model List<ClienteModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista Clientes
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Cliente" class="btn btn-success">Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.Nombres</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>
@*                            <a asp-action="Editar" asp-controller="Mantenedor" class="btn btn-primary btr-sm" asp-route-IdContacto="@item.IdContacto">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Mantenedor" class="btn btn-danger btr-sm" asp-route-IdContacto="@item.IdContacto">Eliminar</a>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>
           

    </div>
</div>


